@model Ecart_Web.Models.Product

<!-- Grid Card -->
<div class="col-6 col-md-4 col-lg-3 mb-4 filter @Model.Category.Name.Replace(' ','_')">
    <div class="col">
        <div class="card h-100" style="border:1px solid #222">
            <!-- Image Hover Buttons -->
            <div class="btn-group">
            </div>
            <!-- / Image Hover Buttons -->

            <div class="product-item">
                <a asp-action="Details" asp-route-id="@Model.Id">

                    <img class="card-img-top" src="@WC.ImagePath@Model.Image" alt="Card image cap">
                @*</a>*@
                <div class="card-body">
                    @*<a asp-action="Details" asp-route-id="@Model.Id">*@
                        <h5 href="javascript:void(0);" class="ellipsis name">@Model.Name</h5>
                    @*</a>*@
                    <div class="card-title primary "><span class="h5">@string.Format("{0:c0}",Model.Price)</span></div>
                    <p class="card-text"><a href="javascript:void(0);" class="card-link">@Model.Category.Name</a>'s Fragnance</p>
                    <p class="card-text">by <a href="javascript:void(0);" class="card-link">@Model.ApplicationType.Name</a></p>
                    <p class="card-text">
                        <small class="text-muted short_desc">
                            @Model.ShortDesc
                        </small>
                    </p>
                    </div>
                </a>
            </div>
            
        </div>
    </div>


</div>
